<section>
    <div class="logo">
      <img src="/assets/images/peculiar@2x.png" alt="Peculiar.wine" title="Peculiar.wine"/>
    </div>
    <footer>
      <p class="soon">
        Brevemente. Comming soon.
      </p>

      <p class="more-information">
        <strong><a href="mailto:info@peculiar.wine">info@peculiar.wine</a></strong>
      </p>

      <p>
        <ul class="social-icons">
          <li>
            <a href="https://facebook.com/peculiar.wine">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/PeculiarWine">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company-beta/11100176/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/peculiar.wine/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </p>

    </footer>
</section>
