<meta property="og:title" content="Peculiar.wine">
<meta property="og:type" content="website">
<meta property="og:locale" content="pt_PT">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:site_name" content="Peculiar.wine">
<meta property="og:description" content="In vino veritas">
<meta property="og:image" content="{{ site.url }}/assets/images/facebook@2x.png">

<meta name="twitter:title" content="Peculiar.wine">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@peculiar.wine">
<meta name="twitter:description" content="In vino veritas">
<meta name="twitter:creator" content="@PeculiarWine">
<meta name="twitter:image" content="{{ site.url }}/assets/images/facebook@2x.png">
