---
# Jekyll requires this Front Matter to enable sass compilation
---

/**
 * https://fonts.google.com/specimen/Lato?selection.family=Lato:300i,400i|Montserrat+Alternates:700
 */
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400i|Montserrat+Alternates:700');

html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background-image: url('/assets/images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;

  footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position:relative;
    bottom:0px;
    color: #fff;
  }

}

.logo {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
}

a {
  text-decoration: none;
}

a:visited, a:hover, a:link{
  color: #fff;
}

.more-information {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  strong {
    font-weight: 4000;
  }
}

.soon {
  font-size: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
}

/*
 * iPhone 6 in portrait
*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 370px;
    height: 370px;
    margin-top: -185px;
    margin-left: -185px;
  }
  .logo {
      width: 360px;
      margin: 0 auto;
      margin-top: 100px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
  }
}
